/* ===== Base Styles ===== */
body {
    background-color: #000;
    color: #ff9659;
  }
  
  /* ===== Typography ===== */
  h1, h2, h3 {
    color: #fff !important;
    font-family: 'Work Sans', sans-serif;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  .lead {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    margin: 0 0 16px;
  }
  
  .text-muted {
    color: #ff9659 !important;
    font-size: 18px;
    font-weight: 500;
  }
  
  .text-secundary {
    color: #D73802 !important;
    font-size: 16px;
  }
  
  /* ===== Components ===== */
  /* Navigation */
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  .nav-link {
    color: #fff !important;
    position: relative;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #ff9659 !important;
  }
  
  .nav-link:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 12.5%;
    width: 75%;
    height: 2px;
    background-color: #ff9659;
  }
  
  /* Hero Section */
  .hero {
    background-image: linear-gradient(360deg, #09040f, rgba(0, 0, 0, 0.5)), 
                     linear-gradient(140deg, #ee0c0c, #ff9659 22%, #D73802 38%, 
                     #2B2B2B 57%, #011c34 75%, #000);
  }
  
  /* Cards */
  .card {
    padding: 28px !important;
    border: 1px solid #28263a !important;
    border-radius: 8px;
    background-color: #181628 !important;
    transition: all 0.3s ease;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .card-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 15px;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  
  .image-wrapper {
    width: 80px;
    height: 80px;
    background-color: #28263a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Buttons */
  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #D93600;
    --bs-btn-border-color: #D93600;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #D93600;
    --bs-btn-hover-border-color: #D93600;
    min-width: 160px;
    padding: 12px 16px;
    border-radius: 4px;
    font-family: 'Work Sans', sans-serif;
    transition: all 0.3s ease;
  }
  
  .btn-primary:hover {
    transform: translateY(-2px);
  }
  
  /* Utilities */
  .nav-logo {
    height: 40px;
    width: auto;
  }